<ion-header>
  <ion-toolbar>
    <ion-title>
      Karot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" text-center>
  <div class="content-wrapper">
    <p>
      Karot, votre assistant intelligent pour reconnaître et classer les objets en temps réel. Capturez une image ou utilisez la caméra en direct, et laissez l'IA vous révéler ce qui vous entoure avec précision.
    </p>
    <ion-button expand="block" color="dark" [routerLink]="['/camera']">
      Découvrir
    </ion-button>
  </div>
</ion-content>
