.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  