<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    <ion-title>Supprimer le compte</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Supprimer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Entrer votre mot de passe" placeholder="Mot de passe"></ion-input>
  </ion-item>
</ion-content>